@import url(https://fonts.googleapis.com/css?family=Sen:regular,700,800);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Sen";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Sen";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #535050;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(64, 131, 90, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgba(254, 254, 254, 0.8);
  padding: 50px;
  width: 100%;
  max-width: 700px;
  border-radius: 20px 0px 20px 20px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -1px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 12px;
  border-radius: 22px 0px 0px 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Sen";
  background-color: inherit;
  border-top: 2px solid #5abb6a;
  border-bottom: 2px solid #5abb6a;
  border-left: 2px solid #5abb6a;
}

.form__input:focus {
  border-left: 2px solid rgba(49, 138, 53, 0.9);
  border-top: 2px solid rgba(49, 138, 53, 0.9);
  border-bottom: 2px solid rgba(49, 138, 53, 0.9);
}

.form__btn {
  padding: 14px 20px 14px 20px;
  background-color: #5abb6a;
  font-size: 18px;
  border-radius: 0px 22px 22px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Sen";
  letter-spacing: 1.3px;
}

.form__btn:hover {
  background-color: rgba(49, 138, 53, 0.9);
}

.head {
  margin: 30px auto;
}

.head__title {
  font-size: 30px;
  text-align: center;
  color: white;
}

.page {
  width: 1000px;
  margin: 0px auto 30px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #b9ccc1;
  border-radius: 30px 30px 30px 30px;
  overflow: auto;
  position: relative;
}

.page__add-task {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page__add {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #5abb6a;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__add:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.page__add:hover::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page__add:hover::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page__add::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 15%;
  width: 45px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__add::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 14%;
  width: 45px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.todo {
  font-family: "Sen";
  -webkit-box-shadow: 2px 2px 15px #eee;
          box-shadow: 2px 2px 15px #eee;
}

.todo :last-child {
  border-bottom: none;
}

.todo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5abb6a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.todo__item._checked {
  background-color: darkgrey;
  opacity: 0.76;
}

.todo__item._active {
  -webkit-animation: opacity 600ms ease-in-out;
          animation: opacity 600ms ease-in-out;
}

.todo__input-style-checkbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 15px #eee;
          box-shadow: 2px 2px 15px #eee;
}

.todo__input-style-checkbox:hover::before {
  content: "";
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url(../img/icons/check.svg) no-repeat;
}

.todo__input-style-checkbox._checked::before {
  content: "";
  position: absolute;
  top: 53%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url(../img/icons/check.svg) no-repeat;
}

.todo__input-style-checkbox._checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #5abb6a;
  -webkit-box-shadow: 0px 0px 10px #5abb6a;
          box-shadow: 0px 0px 10px #5abb6a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.todo__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0px 0px 0px 25px;
  font-size: 18px;
  font-family: "Sen";
}

.todo__description._active {
  text-decoration: line-through;
}

.todo__btn {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px;
  background-color: #5abb6a;
  font-size: 14px;
  transition: all 0.3s ease 0s;
  font-family: "Sen";
  letter-spacing: 1.2px;
  margin: 0px 14px 0px 0px;
  border-radius: 10%;
}

.todo__btn:hover {
  background-color: rgba(172, 52, 31, 0.9);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-perspective: 400;
          perspective: 400;
  -webkit-perspective-origin: center;
          perspective-origin: center;
  -webkit-transform: translate3d(-1px, 1px, 0px);
          transform: translate3d(-1px, 1px, 0px);
  -webkit-box-shadow: 2px 2px 12px 0 rgba(155, 55, 38, 0.9), 2px 2px 15px 0 rgba(167, 75, 58, 0.9);
          box-shadow: 2px 2px 12px 0 rgba(155, 55, 38, 0.9), 2px 2px 15px 0 rgba(167, 75, 58, 0.9);
}